/* ------------------- Body ------------------- */
body{
    background-color: #f5f5f5;
    color: #141414;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

body.dark-mode{
    background-color: #141414;
    color: #f5f5f5;
}

/* ------------------- Main ------------------- */
main{
    margin-top:10px;
    display:flex;
    width:100%;
    justify-content: center;
}

@media screen and (max-width: 1400px) {
    main{
        width: auto;
    }
}

/* ------------------- Components ------------------- */
#game-creator-form{
    margin-top:0.5rem;
}

#notation-table{
    margin-left:0.5rem;
}

#log-console{
    margin-right:0.5rem;
}