/* ------------------- Body ------------------- */
body{
    background-color: #f5f5f5;
    color: #141414;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

body.dark-mode{
    background-color: #141414;
    color: #f5f5f5;
}

/* ------------------- Main ------------------- */
main{
    margin-top:10px;
    display:flex;
    width:100%;
    justify-content: center;
}

@media screen and (max-width: 1400px) {
    main{
        width: auto;
    }
}

/* ------------------- Fen Components ------------------- */
.fen-load-group{
    display:flex;
    margin-top:1rem;
}

.fen-load-group input, .fen-load-group select{
    font-size:14px;
    width:100%;
    padding:15px;
    background-color: #111;
    color: #f5f5f5;
    border:1px solid #2a2a2a;
}

.fen-load-group input:focus, .fen-load-group select:focus{
    outline: none;
}

.fen-load-group button{
    padding:15px;
    background-color: #111;
    color: #f5f5f5;
    border:1px solid #2a2a2a;
    cursor: pointer;
    font-size:14px;
}

.fen-load-group button:hover{
    background-color: #2a2a2a;
}

.fen-load-group button:active{
    opacity:0.7
}

#fen-template{
    display:none; /* Default */
}