/* ------------------- Body ------------------- */
body{
    background-color: #f5f5f5;
    color: #141414;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

body.dark-mode{
    background-color: #141414;
    color: #f5f5f5;
}

/* ------------------- Main ------------------- */
main{
    margin-top:10px;
    display:flex;
    width:100%;
    justify-content: center;
}

@media screen and (max-width: 1400px) {
    main{
        width: auto;
    }
}

main .center{
    width:802px;
    margin-top:7px;
}

main .right{
    margin-left:30px;
    width: 250px;
}

main .left{
    margin-right:30px;
    width: 250px;
}

/* ------------------- Components ------------------- */
fieldset{
    margin-bottom:15px;
    font-size:14px;
}

fieldset legend{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

fieldset .bold{
    font-weight: bold;
}

fieldset .mono{
    font-family: monospace;
    font-size:13px;
}

fieldset input{
    margin:2px;
}

fieldset .w-100{
    width:100%;
}

fieldset .between{
    display:flex;
    justify-content: space-between;
}

fieldset table{
    border:1px solid #000;
}