/**
 * CSS codes of Log Console component
 * @see For more information about this component check file: src\Platform\Components\LogConsole.ts
 */

:root{
    --log-console-width: 400px;
}

#log-console{
    background-color:#111;
    border:1px solid #2a2a2a;
    height: calc(var(--board-size) + 55px); /* 55px: 50px for footer(clear button and path input) and 5px for padding */
    width: var(--log-console-width);
    min-width: var(--log-console-width);
    max-width: calc(var(--board-size) - 50px);
    color: #f5f5f5;
    font-family: monospace;
    resize: horizontal;
    overflow: hidden;
}

/* Body */
#log-console #log-console-body{
    height: calc(var(--board-size) + 7px); /* 7px: 2px for border and 5px for padding */
    width:auto;
    overflow-y: scroll;
}

/* Log */
#log-console #log-console-body ul{
    margin:15px 20px 5px -20px;
    list-style: none;
}

#log-console #log-console-body ul li{
    cursor: pointer;
    transition: 0.1s;
    margin: 7px 0;
}

#log-console #log-console-body ul li span{
    font-family: monospace;
    font-weight: bold;
}

#log-console #log-console-body ul li span:hover, #log-console #log-console-body ul li span:hover div.tooltip{
    text-decoration: underline;
}

/* Tooltip */
#log-console #log-console-body .tooltip{
    position: relative;
    display: inline-block;
    font-style:italic;
    border-bottom:1px dotted #fff;
}

#log-console #log-console-body .tooltip-text{
    top:20px;
    left:50%;
    transform:translate(-50%, 0);
    padding:10px 20px;
    color:#fff;
    background-color:#222222ee;
    font-weight:normal;
    font-size:13px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    border:1px solid #2a2a2a;
    display:none;
    font-style:normal;
    white-space: pre;
    text-decoration: none!important;
}

#log-console #log-console-body .tooltip:hover .tooltip-text{
    display:block;
}

#log-console #log-console-body .tooltip .tooltip-text i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

#log-console #log-console-body .tooltip .tooltip-text i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#222;
    border:1px solid #2a2a2a;
}

/* Footer */
#log-console #log-console-footer{
    background-color:#111;
    display:flex;
    width:100%;
    border-top:1px solid #2a2a2a;
}

#log-console #log-console-footer-content{
    background-color:#222;
    border:1px solid #2a2a2a;
    margin:3px;
    padding:10px;
    color: #f5f5f5;
    width:100%;
    font-size:12px;
    font-family: monospace;
    overflow-x: auto;
    text-wrap:nowrap;
}

#log-console #log-console-footer-btn button{
    padding:10px;
    background-color: #222;
    color: #f5f5f5;
    border:1px solid #2a2a2a;
    cursor: pointer;
    font-size:15px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin: 3px 0 3px 3px;
}

#log-console #log-console-footer-btn button:hover{
    background-color: #2a2a2a;
}

#log-console #log-console-footer-btn button:active{
    opacity:0.7
}

/* Show Square ids on chess board. */
#chessboard .square-id{
    position:absolute;
    right:0;
    bottom:0;
    padding:5px;
    min-width:13px;
    background-color: rgba(0, 0, 0, 0.68);
    color:#fff;
    text-align:center;
    margin:7px;
    font-size:12px;
    font-family: monospace;
    z-index:999;
}

/* ------------------- Responsive ------------------- */
@media screen and (max-width: 1000px) {
    #log-console{
        width: 100%;
        min-width: 0;
        max-width: var(--board-size);
        height: auto;
    }
}