/**
 * CSS codes of Notation Table component
 * @see For more information about this component check file: src\Platform\Components\NotationTable.ts
 */
:root{
    --notation-table-height: 240px;
    --notation-table-width: 250px;
}

#notation-table{
    width: var(--notation-table-width);
    font-size:15px;
    background-color: #111;
    color: #f5f5f5;
    border:1px solid #2a2a2a;
}

#notation-table tbody{
    max-height: var(--notation-table-height);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    width:100%;
    height: var(--notation-table-height);
    display:block;
}

#notation-table tr{
    display:table;
    table-layout: fixed;
    width:100%;
}

#notation-table tr th{
    padding:7px 5px;
    background-color: #222;
    border:1px solid #2a2a2a;
}

#notation-table tr td{
    text-align: center;
    padding:5px;
}

#notation-table tr:nth-child(odd) td{
    background-color: #222;
    border:1px solid #2a2a2a;
}

/* Make first column narrower than others */
#notation-table tr th:nth-child(1), #notation-table tr td:nth-child(1) { width: 20% }
#notation-table tr th:nth-child(2), #notation-table tr th:nth-child(3) { width: 40% }
#notation-table tr td:nth-child(2), #notation-table tr td:nth-child(3) { width: 40% }

/**
 * Scores section on the top and bottom of notation table
 */
#notation-menu .score-table{
    font-size:15px;
    font-weight:bold;
    margin:10px 0;
    width:100%;
}

/* ------------------- Responsive ------------------- */
@media screen and (max-width: 1000px) {
    #notation-table{
        width:100%;
    }
}