/**
 * CSS codes of Notation Table component
 * @see For more information about this component check file: src\Platform\Components\NotationTable.ts
 */
:root{
    --notation-table-height: 240px;
    --notation-table-width: 250px;
}

#notation-table{
    width: var(--notation-table-width);
    font-size:15px;
    background-color: #111;
    color: #f5f5f5;
    border:1px solid #2a2a2a;

    & tbody{
        max-height: var(--notation-table-height);
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        width:100%;
        height: var(--notation-table-height);
        display:block;
    }

    & tr{
        display:table;
        table-layout: fixed;
        width:100%;

        & th{
            padding:7px 5px;
            background-color: #222;
            border:1px solid #2a2a2a;
        }

        & td{
            text-align: center;
            padding:5px;
        }

        &:nth-child(odd) td{
            background-color: #222;
            border:1px solid #2a2a2a;
        }
    }
}

/* Make first column narrower than others */
#notation-table tr th:nth-child(1), #notation-table tr td:nth-child(1) { width: 20% }
#notation-table tr th:nth-child(2), #notation-table tr th:nth-child(3) { width: 40% }
#notation-table tr td:nth-child(2), #notation-table tr td:nth-child(3) { width: 40% }

/**
 * Player Score Section
 */
.player-score-section {
    /**
     * Score Table
     */
    & .score-table{
        font-size:15px;
        font-weight:bold;
        margin:10px 0;
        width:100%;
        margin-left: 2px;
        display: flex;
        align-items: center;
        gap: 5px;
        height: 30px;
        
        & .piece-icons{
            font-size: 22px;
        }
    }

    /**
     * Turn Indicator
     */
    & .turn-indicator{
        opacity: 0;
        display: flex;
        margin-left: 3px;
    
        & span.indicator-icon{
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            display: inline-block;
            margin-right: 6px;
        }
    
        &#white-turn-indicator span.indicator-icon{
            background-color: var(--white-square-color);
        }
    
        &#black-turn-indicator span.indicator-icon{
            background-color: var(--black-square-color);
        }
    
        &.visible{
            opacity: 1;
        }
    }
}

/**
 * Utility Menu
 */
#notation-menu .utility-menu{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 12px);
    background-color: #111;
    border: 1px solid #2a2a2a;
    border-top:none;
    padding: 5px;

    & button{
        padding: 10px;
        padding-bottom: 5px;
        background-color: #222;
        color: #f5f5f5;
        border:1px solid #2a2a2a;
        cursor: pointer;
        font-size:15px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;

        &:hover{
            background-color: #2a2a2a;
        }

        &:active{
            opacity:0.7;
        }
    }
}

/** 
 * ------------------ Responsive ------------------- 
 *             700px - 900px - 1250px
 */
@media screen and (max-width: 900px) {
    #notation-table{
        width:100%;
    }

    #notation-menu .utility-menu{
        justify-content: space-evenly;
    }

    #black-player-score-section, #white-player-score-section{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .score-table{
            width: auto;
            margin: 0;
        }

        & .score-table + .turn-indicator{
            order: -1;
            margin-left: 0;
        }
    }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    #notation-menu .utility-menu{
        justify-content: center;
        gap: 1rem;
    }
}
