/**
 * CSS codes of Navigator Modal component
 * @see For more information about this component check file: src\Platform\Components\NavigatorModal.ts
 */

.navigator-modal{
    box-shadow: none;
    background-color: var(--navigator-modal-bg-color);
    color: var(--navigator-modal-text-color);
    border: 1px solid var(--navigator-modal-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index:var(--navigator-modal-z-index)!important;
    overflow: hidden; 
    padding: 2rem;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.1s ease-in;

    & button{
        border:1px solid var(--navigator-modal-button-bg-color);
        background-color: var(--navigator-modal-bg-color);
    }

    & a{
        color: var(--navigator-modal-text-button-color);

        &:hover{
            filter: brightness(0.9);
        }

        &:active{
            filter: brightness(0.8);
        }
    }

    & .navigator-modal-title{
        font-size: var(--navigator-modal-title-font-size);
        font-weight: bold;
        margin-top: 3px;
    }

    & .navigator-modal-content{
        font-size: var(--navigator-modal-content-font-size);
        margin-top: 25px;
        z-index:var(--navigator-modal-z-index)!important;
        
        & button, & span{
            font-size: var(--navigator-modal-content-small-font-size);
        }
    }

    &.bounce{
        transform: translate(-50%, -50%) scale(1.01);
    }
}

.navigator-modal .navigator-modal-bg{
    background-image: url("../../assets/images/result-screen-bg-icon-dark.png");
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 120px;
    height: 125px;
    opacity: 0.5;
    left: -19%;
    z-index: var(--navigator-modal-bgicon-z-index);
    font-size: var(--navigator-modal-icon-font-size);
}

.navigator-modal:not(.navigator-modal--glass) .navigator-modal-bg{
    width: 100px;
    height: 105px;
    background-image: url("../../assets/images/result-screen-bg-icon-dark.png");
}

body.dark-mode .navigator-modal .navigator-modal-bg,
.navigator-modal--glass .navigator-modal-bg{
    background-image: url("../../assets/images/result-screen-bg-icon-light.png");
}

.navigator-modal--glass{
    box-shadow: 0 4px 30px var(--navigator-modal-glass-box-shadow-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid var(--navigator-modal-glass-border-color);
    background: var(--navigator-modal-glass-bg-color);
    border-radius: 10px;
    color: var(--navigator-modal-glass-text-color);

    & button{
        background: var(--navigator-modal-glass-button-bg-color);
        border: 1px solid var(--navigator-modal-glass-button-border-color);
        color: var(--navigator-modal-glass-button-text-color);
        transition: background-color .15s ease;
        border-radius: 5px;

        &:hover{
            background-color: var(--navigator-modal-glass-active-color);
        }

        &[data-selected="true"]{
            background-color: var(--navigator-modal-glass-active-color);
        }
    }

    & input{
        background: var(--navigator-modal-glass-input-bg-color);
        border: 1px solid var(--navigator-modal-glass-border-color);
        color: var(--navigator-modal-glass-button-text-color);
        transition: background-color .15s ease;
        border-radius: 5px;
    }
}

body.dark-mode .navigator-modal{
    box-shadow: 0 0 5px var(--navigator-modal-shadow-color);
    border: 1px solid var(--navigator-modal-border-color);
}

.navigator-modal--error{
    border: 1px solid var(--navigator-modal-glass-error-bg-color);
    background: var(--navigator-modal-glass-error-bg-color);

    & button{
        width: 100%;
    }
}

.navigator-modal-bg-layer{
    overflow: hidden;
    z-index:var(--navigator-modal-backdrop-z-index);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--navigator-modal-backdrop-bg-color);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

/** 
 * ------------------ Responsive ------------------- 
 *             700px - 900px - 1250px
 */
@media screen and (max-width: 1250px) {
    body:has(.navigator-modal-bg-layer){
        overflow: hidden;
    }

    .navigator-modal-bg-layer{
        position: absolute;
    }
}