/**
 * CSS codes of Notation Table component
 * @see For more information about this component check file: src\Platform\Components\NotationTable.ts
 */

#notation-menu{
    height: var(--chessboard-board-size);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#notation-table{
    width: var(--notation-table-width);
    font-size:var(--notation-table-font-size);
    background-color: var(--notation-menu-bg-color);
    color: var(--notation-menu-text-color);
    border:1px solid var(--notation-menu-border-color);

    & tbody{
        max-height: var(--notation-table-height);
        overflow-y: scroll;
        overflow-x: hidden;
        width:100%;
        height: var(--notation-table-height);
        display:block;
    }

    & tr{
        display:table;
        table-layout: fixed;
        width:100%;

        & th{
            padding:7px 5px;
            padding-bottom:3px;
            background-color: var(--notation-menu-title-bg-color);
            border:1px solid var(--notation-menu-title-border-color);
        }

        & td{
            text-align: center;
            padding:5px;
            cursor: pointer;
        }

        &:nth-child(odd) td:has(span){
            background-color: var(--notation-menu-odd-row-bg-color);
            border:1px solid var(--notation-menu-odd-row-border-color);
        }

        & td.current-move{
            background-color: var(--notation-menu-current-move-bg-color)!important;
        }

        & td:has(.move):hover{
            background-color: var(--notation-menu-hover-bg-color)!important;
        }
    }
}

/* Make first column narrower than others */
#notation-table tr th:nth-child(1), #notation-table tr td:nth-child(1) { width: 20% }
#notation-table tr th:nth-child(2), #notation-table tr th:nth-child(3) { width: 40% }
#notation-table tr td:nth-child(2), #notation-table tr td:nth-child(3) { width: 40% }

/**
 * Player Score Section
 */
.player-section {
    display:flex;
    flex-direction: column;

    &.hidden{
        opacity: 0;
    }

    & .player-name-container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--notation-menu-player-name-bg-color);
        border:1px solid var(--notation-menu-player-name-border-color);
        padding: 4px;
        
        & .player-name{
            padding: 10px 10px;
            padding-bottom: 7px;
            background-color: var(--notation-menu-player-name-inner-bg-color);
            border:1px solid var(--notation-menu-player-name-border-color);
            border-right: none;
            font-weight: bold;
            font-size: var(--notation-menu-player-name-font-size);
            width: 75%;
        }

        & .duration{
            font-size: var(--notation-menu-duration-font-size);
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 27%;
            border: 1px solid var(--notation-menu-player-name-border-color);
            height: 86%;
            padding-top: 3px;
            padding-left: 5px;
            padding-right: 5px;

            &.hidden{
                background-color: var(--notation-menu-player-name-inner-bg-color)!important;
                color: var(--notation-menu-player-name-inner-bg-color);
                border-left: none;
                border-right: none;
                user-select: none;
            }
            
            & .decisecond{
                font-size: var(--notation-menu-decisecond-font-size);
                margin-left: 2px;
                margin-top: -5px;
                padding-top: 0;
                margin-bottom: 3px;
                display:none;

                &.active{
                    display: inline;
                }
            }
        }

        & .duration:has(.decisecond.active){
            background-color: var(--notation-menu-decisecond-bg-color);
        }

        & .player-status{
            background-color: var(--notation-menu-player-name-inner-bg-color);
            border:1px solid var(--notation-menu-player-name-border-color);
            width: 10%;
            display: flex;
            justify-content: center;
            border-left:none;
            align-items: center;
            height: 95%;

            & .status-icon{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border:1px solid var(--no-status-color);

                &.online{
                    border:none;
                    background-color: var(--online-status-color);
                }

                &.offline{
                    border:none;
                    background: var(--offline-status-color);
                }
            }
        }
    }

    &:not(:first-of-type){
        & .player-name-container{
            order: 1;
        }
    }

    &#white-player-section.your-turn-effect .player-name{
        border-left:4px solid var(--chessboard-white-square-color);
    }

    &#black-player-section.your-turn-effect .player-name{
        border-left:4px solid var(--chessboard-black-square-color);
    }

    & .score-table{
        font-weight:bold;
        display: flex;
        align-items: center;
        height: var(--score-table-piece-icons-size);
        padding: 2px 0;

        & .piece-icon{
            font-size: var(--score-table-piece-icons-size);
            font-weight: normal;
        }

        & .score{
            font-size: var(--score-table-score-font-size);
            margin-top: 2px;
        }
    }
}

/**
 * Utility Menu
 */
#notation-menu .utility-menu{
    display: flex;
    justify-content: space-between;
    background-color: var(--utility-menu-bg-color);
    border: 1px solid var(--utility-menu-border-color);
    border-top:none;
    padding: 4px;

    & button{
        padding:7px 10px;
        font-size: var(--utility-menu-font-size);

        &.hidden{
            display: none;
        }
    }
}

#notation-menu .utility-menu:has(.utility-toggle-menu-section.confirmation.active){
    & button {
        border: 1px solid var(--utility-menu-confirmation-bg-color);
    }
}

#notation-menu .utility-menu.utility-toggle-menu{
    opacity: 0;

    & .utility-toggle-menu-section{
        display: none;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 5px;

        & button{
            flex-grow: 1;
        }
        
        &.active{
            display: flex;
        }
    }

    & .utility-toggle-menu-section#offer-utility-menu{
        flex-direction: column;
        text-align: center;

        & .offer-buttons{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 5px;

            & button{
                flex-grow: 1;
            }
        }

        & .offer-message{
            font-size: var(--utility-menu-offer-message-font-size);
            font-weight: bold;
            color: var(--utility-menu-offer-message-text-color);
            padding: 7px 0 5px 0;
        }
    }

    &.visible{
        opacity: 1;
    }
}

/** 
 * ------------------ Responsive ------------------- 
 *             700px - 900px - 1250px
 */
@media screen and (max-width: 900px) {
    #notation-table{
        width:100%;
    }

    #notation-menu .utility-menu{
        justify-content: center;
        gap: 1rem;
    }

    #notation-menu .utility-toggle-menu-section{
        justify-content: center!important;
        gap: 1rem;
    }

    .player-section{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        
        &:first-of-type{
            margin-bottom: 0.5rem;
        }

        &:not(:first-of-type){
            margin-top: 0.5rem;

            & .player-name-container{
                order: -1;
            }
        }

        & .player-name-container{
            width: 50%;
        }

        & .score-table{
            width: auto;
            margin: 0;
        }
    }
}
