/* ------------------- Game Creator Form ------------------- */
#game-creator-form .game-creator-form-mode{
    display:none;
    margin-top:1rem;
}

#game-creator-form .game-creator-form-mode .visible{
    display:flex;
}

#game-creator-form .game-creator-form-mode input, #game-creator-form .game-creator-form-mode select{
    font-size:14px;
    width:100%;
    padding:15px;
    background-color: #111;
    color: #f5f5f5;
    border:1px solid #2a2a2a;
}

#game-creator-form .game-creator-form-mode input:focus, #game-creator-form .game-creator-form-mode select:focus{
    outline: none;
}

#game-creator-form .game-creator-form-mode button{
    padding:15px;
    background-color: #111;
    color: #f5f5f5;
    border:1px solid #2a2a2a;
    cursor: pointer;
    font-size:14px;
}

#game-creator-form .game-creator-form-mode button:hover{
    background-color: #2a2a2a;
}

#game-creator-form .game-creator-form-mode button:active{
    opacity:0.7
}