/**
 * CSS codes of AboutMenu component
 * @see For more information about this component check file: src\Platform\Components\NavbarComponents\AboutMenu.ts
 */
#about-menu{
    background-color:var(--about-menu-bg-color);
    border:1px solid var(--about-menu-border-color);
    color: var(--about-menu-text-color);
}

 /** 
 * ------------------ Responsive ------------------- 
 *             700px - 900px - 1250px
 */