/**
 * CSS codes of AppearanceMenu component
 * @see For more information about this component check file: src\Platform\Components\NavbarComponents\AppearanceMenu.ts
 */
#appearance-menu{
    background-color:var(--appearance-menu-bg-color);
    border:1px solid var(--appearance-menu-border-color);
    color: var(--appearance-menu-text-color);
    font-size: var(--appearance-menu-font-size);
    resize: horizontal;
}

#appearance-body{
    padding: 1rem;
    padding-top: 1.25rem;
    height: calc(var(--chessboard-board-size) - 95px);
    width:auto;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    & .input-group--horizontal{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 3px;

        & input{
            width: 100%;
            padding: 0;
            box-sizing: border-box;
            border:2px solid var(--appearance-menu-color-picker-border-color);
            border-right: none;
        }

        & input[type="color"]{
            height: 25px;
        }

        & input[type="range"]{
            border-top: none;
            height: 15px;
        }

        & button{
            padding:0 4px 0 6px;
            background-color: var(--appearance-menu-button-bg-color);
            border-left:none;
        }
    };

    & .input-group{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & label{
            margin-left:2px;
        }
    }
}

#appearance-footer{
    padding: 10px;

    & .appearance-utilities{
        width: 100%;
        display: flex;
        gap: 5px;

        & button{
            flex-grow: 1;
        }
    }
}

 /** 
 * ------------------ Responsive ------------------- 
 *             700px - 900px - 1250px
 */
