/**
 * CSS codes of ConnectionsMenu component
 * @see For more information about this component check file: src\Platform\Components\NavbarComponents\ConnectionsMenu.ts
 */
#connections-menu{
    background-color:var(--connections-menu-bg-color);
    border:1px solid var(--connections-menu-border-color);
    color: var(--connections-menu-text-color);
}

#connections-body{
    height: 100%;

    & .connection{
        border-bottom: 1px solid var(--connections-menu-border-color);
        padding: 10px;
        cursor: pointer;
        display: flex;

        & .board-preview{
            width: 100px;
            height: 100px;
            margin-right: 10px;
            background-color: blue;
        }

        & .connection-info{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            & #white-player .player-color{
                background-color: var(--chessboard-white-square-color);
            }

            & #black-player .player-color{
                background-color: var(--chessboard-black-square-color);
            }

            & .player{
                display:flex;
                justify-content: space-between;
                align-items: center;

                & .player-match-info{
                    display:flex;
                    align-items: center;
                    gap: 3px;

                    & .indicator{
                        display:flex;

                        & .player-duration{
                            font-size: var(--connections-menu-player-duration-font-size);
                            color: var(--connections-menu-player-duration-text-color);
                            background-color: var(--connections-menu-player-duration-bg-color);
                            border: 1px solid var(--connections-menu-border-color);
                            padding: 2px 5px;

                            & .milliseconds{
                                font-size: var(--connections-menu-player-duration-milliseconds-font-size);
                            }
                        }
                    
                        & .player-color{
                            width: 5px;
                            margin-right: 5px;
                        }    
                    }

                    & .player-info{
                        font-size: var(--connections-menu-player-info-font-size);
                        padding-top:4px;

                        & .player-name {
                            font-weight: bold;
                        }
                    }

                }

                & .player-last-status .player-status-icon{
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 1px solid var(--no-status-color);

                    &.online{
                        background-color: var(--online-status-color);
                    }

                    &.offline{
                        background-color: var(--offline-status-color);
                    }
                }
            }

            & .move-history span{
                font-size: var(--connections-menu-move-history-font-size);
            }
            
        }
    }

    & .connection:hover{
        background-color: var(--connections-menu-hover-bg-color);
    }
}

#connections-body:has(.no-connections){
    display: flex;
    justify-content: center;
    align-items: center;

    .no-connections{
        margin-top:-5rem;
        text-align: center;

        & h1{
            margin-bottom:10px;
        }
    }
}

 /** 
 * ------------------ Responsive ------------------- 
 *             700px - 900px - 1250px
 */
