/**
 * CSS codes of Log Console component
 * @see For more information about this component check file: src\Platform\Components\LogConsole.ts
 */

#log-console{
    background-color:#111;
    border:1px solid #2a2a2a;
    height:800px; /* 800px = height of chess board */
    width:400px;
    min-width:400px;
    max-width:750px;
    color: #f5f5f5;
    font-family: monospace;
    resize: horizontal;
    overflow: hidden;
}

/* Body */
#log-console #log-console-body{
    height:750px; /* 750px = height of log console - height of log console footer */
    width:auto;
    overflow-y: scroll;
}

#log-console #log-console-body ul{
    margin:15px 20px 5px -20px;
    list-style: none;
}

#log-console #log-console-body ul li{
    cursor: pointer;
    transition: 0.1s;
    margin: 7px 0;
}

#log-console #log-console-body ul li span{
    font-family: monospace;
    font-weight: bold;
}

#log-console #log-console-body ul li span:hover, #log-console #log-console-body ul li span:hover div.tooltip{
    text-decoration: underline;
}

/* Tooltip */
#log-console #log-console-body .tooltip{
    position: relative;
    display: inline-block;
    border-bottom: 2px dotted #fff;
}

#log-console #log-console-body .tooltip-text{
    visibility: hidden;
    min-width: 80px;
    max-width: 450px;
    background-color: #555;
    color: #fff;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: 140%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
    font-style:normal;
    white-space: pre;
    text-decoration: none!important;
}

#log-console #log-console-body .tooltip-text::after{
    content: "";
    position: absolute;
    bottom: 100%;
    right: 50%;
    margin-right: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

#log-console #log-console-body .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Footer */
#log-console #log-console-footer{
    background-color:#111;
    display:flex;
    width:100%;
    border-top:1px solid #2a2a2a;
}

#log-console #log-console-footer-content{
    background-color:#222;
    border:1px solid #2a2a2a;
    margin:3px;
    padding:10px;
    color: #f5f5f5;
    width:90%;
    font-size:12px;
    font-family: monospace;
    overflow-x: scroll;
}

#log-console #log-console-footer-btn button{
    padding:10px;
    background-color: #222;
    color: #f5f5f5;
    border:1px solid #2a2a2a;
    cursor: pointer;
    font-size:15px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin: 3px 0 3px 3px;
}

#log-console #log-console-footer-btn button:hover{
    background-color: #2a2a2a;
}

#log-console #log-console-footer-btn button:active{
    opacity:0.7
}