body{
    font-family: Arial;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width:100%;
}

body.light-mode{
    background-color: #f5f5f5;
    color: #141414;
}

body.dark-mode{
    background-color: #141414;
    color: #f5f5f5;
}

/* -------------- Main START -------------- */
.main{
    width:1150px;
    display:flex;
    position: absolute;
    top: 55%;
    left: 40%;
    margin: -500px 0 0 -500px;
}
/* -------------- Main End -------------- */

/* -------------- Menu START -------------- */
.left-menu{
    width:350px;
    margin-right:50px;
}

.game{
    width:800px;
}

fieldset{
    margin-top:10px;
}

.menu-buttons input[type="button"]{
    margin-bottom:5px;
}

.right-menu{
    width:350px;
    margin-left:50px;
}
/* -------------- Menu END -------------- */


/* -------------- Board START -------------- */
#chessboard {
    width: 800px;
    height: 800px;
    border:1px solid black;
    display:flex;
    flex-wrap: wrap;
    cursor: pointer;
}

#chessboard .square{
    position: relative;
    width:100px;
    height:100px;
    box-shadow: inset 0 0 1px #000;
    text-align: center;
}

#chessboard .square-black{
    background-image:url("../assets/brown_dark.png");
}

#chessboard .square-white{
    background-image:url("../assets/brown_light.png");
}
/* -------------- Board END -------------- */

/* -------------- Pieces START -------------- */
.piece{
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    margin:0 auto;
    margin-top:10px;
    width:80px;
    height:80px;
}

[data-piece="rook"][data-color="white"]{
    background-image:url("../assets/rook_white.png");
}

[data-piece="knight"][data-color="white"]{
    background-image:url("../assets/knight_white.png");
}

[data-piece="bishop"][data-color="white"]{
    background-image:url("../assets/bishop_white.png");
}

[data-piece="queen"][data-color="white"]{
    background-image:url("../assets/queen_white.png");
}

[data-piece="king"][data-color="white"]{
    background-image:url("../assets/king_white.png");
}

[data-piece="pawn"][data-color="white"]{
    background-image:url("../assets/pawn_white.png");
}

[data-piece="rook"][data-color="black"]{
    background-image:url("../assets/rook_black.png");
}

[data-piece="knight"][data-color="black"]{
    background-image:url("../assets/knight_black.png");
}

[data-piece="bishop"][data-color="black"]{
    background-image:url("../assets/bishop_black.png");
}

[data-piece="queen"][data-color="black"]{
    background-image:url("../assets/queen_black.png");
}

[data-piece="king"][data-color="black"]{
    background-image:url("../assets/king_black.png");
}

[data-piece="pawn"][data-color="black"]{
    background-image:url("../assets/pawn_black.png");
}

.piece-info-container{
    margin-top:-80px;
}

.piece-info{
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    border:1px solid #000;
    border-radius:15px;
    margin:5px;
}

.en-passant-container{
    margin-top:-60px;
}

.en-passant-info{
    opacity: 1;
    border-radius:15px;
    margin:5px;
}

.en-passant-info[value="true"]{
    background-color: #379767;
    border:1px solid #379767;
    color: #fff;
}

.en-passant-info[value="false"]{
    background-color: rgb(223, 48, 48);
    border:1px solid rgb(223, 48, 48);
    color: #fff;
}

.en-passant-info[value="not-ready"]{
    background-color:rgb(46, 121, 235);
    border:1px solid rgb(46, 121, 235);
    color: #fff;
}
/* -------------- Pieces END -------------- */

/* -------------- Squares Start -------------- */
.clicked-effect{
    box-shadow:inset 0px 0px 15px #000!important;
}

.playable-effect{
    box-shadow:inset 0px 0px 15px #57ce92!important;
}

.killable-effect{
    box-shadow:inset 0px 0px 15px rgb(223, 48, 48)!important;
}

.checked-effect{
    box-shadow:inset 0px 0px 15px rgb(46, 121, 235)!important;
}

.selected-effect{
    box-shadow:inset 0px 0px 100px #47a17338!important;
}

span.number{
    position:absolute;
    right:0;
    margin-right:5px;
    font-size:17px;
    color:#C19285;
    margin-top:5px;
    font-weight: bold;
}

span.chars{
    position:absolute;
    bottom:0px;
    margin-left:-43px;
    font-size:17px;
    color:#C19285;
    margin-bottom:0px;
    font-weight: bold;
}

span.square-id{
    position: absolute;
    top:5px;
    left:5px;
    color:#ffffffef;
    font-size: 12px;
}
/* -------------- Squares End -------------- */