/**
 * CSS codes of the layout of the application. Mostly
 * mostly contains the colors, width, height, font-size
 * of the components and the layout of the application. 
 * Not the components itself and can't change the 
 * chessboard. For the chessboard, see chessboard.css
 */

:root{
    --font-family: 'Roboto', sans-serif;
    --component-font-size: 15px;

    /* Navbar */
    --navbar-width: 400px; 
    
    /* Navbar Component */
    --navbar-component-width: 400px; /* better to keep it same as navbar-width */

    /* Log Console(Navbar Component) */
    --log-console-font-family: monospace;
    --log-console-font-size: 13px;
    --log-console-square-id-font-size: 12px;

    /* Appearance Menu(Navbar Component) */
    --appearance-menu-font-size: 13px;

    /* Connections Menu(Navbar Component) */
    --connections-menu-player-info-font-size: 0.95rem;
    --connections-menu-move-history-font-size: 0.9rem;
    --connections-menu-player-duration-font-size: 0.8rem;
    --connections-menu-player-duration-decisecond-font-size: 0.7rem;
    
    /* Board Editor */
    --board-editor-table-height: 240px; 
    --board-editor-table-width: 230px;

    /* Notation Menu */
    --notation-table-height: 240px;
    --notation-table-width: 300px;
    --notation-table-font-size: 15px;
    --notation-menu-player-name-font-size: 13px;
    --notation-menu-duration-font-size: 20px;
    --notation-menu-decisecond-font-size: 12px;
    --score-table-piece-icons-size: 23px;
    --score-table-score-font-size: 15px;

    /* Navigator Modal */
    --navigator-modal-icon-font-size: 100px;
    --navigator-modal-title-font-size: 35px;
    --navigator-modal-content-font-size: 18px;
    --navigator-modal-content-small-font-size: 15px;
    --navigator-modal-content-source-code-button-font-size: 15px;
    --navigator-modal-content-duration-separator-font-size: 28px;

    /* Utility Menu */
    --utility-menu-font-size: 14px;
    --utility-menu-offer-message-font-size: 14px;

    /* Z-Index, avoid changing */
    --tooltip-z-index: 5;
    --log-console-tooltip-z-index: 5;
    --log-console-square-id-z-index: 10; /* Higher than piece-z-index and promotion-option-z-index */
    --navigator-modal-z-index:15; /* Higher than everything */
    --navigator-modal-bgicon-z-index: 14; /* Higher than everything except navigator-modal-z-index */
    --navigator-modal-backdrop-z-index: 13; /* Higher than everything except navigator-modal-bgicon-z-index */

    /* Standard colors, avoid changing */
    --white-color: #FFF;
    --black-color: #000;
    --black-opaque-color: #000000AD;
    --gray-color: #808080;
    --light-gray-color: #999;
    --dark-gray-color: #666;
    --dark-gray-opaque-color: #666666B3;
    --darker-gray-color: #444444;
    --danger-color: #7C2926;
    --warning-color: #D66700;
    --online-status-color: #77C71C;
    --offline-status-color: #A50417;
    --no-status-color: #666;
    --backdrop-bg-color: #0000005C;
    --glass-bg-color: #FFFFFF1A;
    --glass-text-color: #FFFFFF;
    --glass-border-color:#FFFFFF4D;
    --glass-box-shadow-color: #0000001A;
    --glass-error-bg-color: #9B040475;
    --glass-error-border-color: #FF010133;
    --glass-component-bg-color: hsla(0,0%,100%,.2);
    --glass-component-active-bg-color: hsla(0,0%,100%,.4);
}

/* ------------------- Themes ------------------- */
body{
    /* Light, Change the colors for light mode */
    --bg-color: #F5F5F5;
    --text-color: #141414;
    --light-color: #EAEAEA;
    --accent-color: #FFF;
    --accent-opaque-color: #FFFFFFC5;
    --component-color: #EAEAEA;
    --component-opaque-color: #EAEAEAEA;
    --component-active-color: #D5D5D5; 
    --border-color: #CCC;
    --linear-gradient-color: #F5F5F5;
    --linear-gradient: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(234,234,234,1) 35%, rgba(153,153,153,1) 100%);
}

body.dark-mode{
    /* Dark, Change the colors for dark mode */
    --bg-color: #141414;
    --text-color: #F5F5F5;
    --light-color: #F5F5F5;
    --accent-color: #111;
    --accent-opaque-color: #111111C5;
    --component-color: #222;
    --component-opaque-color: #222222EE;
    --component-active-color: #333;
    --border-color: #2A2A2A;
    --linear-gradient-color: #515151;
    --linear-gradient: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(34,34,34,1) 35%, rgba(20,20,20,1) 100%);
}

body{
    /* Input, Select */
    --input-bg-color: var(--accent-color);
    --input-border-color: var(--accent-color);
    --input-read-only-bg-color: var(--light-gray-color);

    /* Button */
    --button-bg-color: var(--component-color);

    /* Tooltip */
    --tooltip-bg-color: var(--black-color);
    --tooltip-text-color: var(--white-color);

    /* Scrollbar */
    --scrollbar-thumb-color: var(--gray-color);

    /* Navbar */
    --navbar-bg-color: var(--accent-color);
    --navbar-text-color: var(--text-color);
    --navbar-border-color: var(--border-color);

    /* Navbar Component, default style for all navbar components */
    --navbar-component-bg-color: var(--accent-color);
    --navbar-component-text-color: var(--text-color);
    --navbar-component-border-color: var(--border-color);

    /* About Menu(Navbar Component) */
    --about-menu-bg-color: var(--accent-color);
    --about-menu-border-color: var(--border-color);
    --about-menu-text-color: var(--text-color);

    /* Connections Menu(Navbar Component) */
    --connections-menu-bg-color: var(--accent-color);
    --connections-menu-border-color: var(--border-color);
    --connections-menu-text-color: var(--text-color);
    --connections-menu-hover-bg-color: var(--component-color);
    --connections-menu-player-duration-text-color: var(--text-color);
    --connections-menu-player-duration-bg-color: var(--component-color);
    --connections-menu-connection-border-color: var(--component-active-color);
    
    /* Appearance Menu(Navbar Component) */
    --appearance-menu-bg-color: var(--accent-color);
    --appearance-menu-border-color: var(--border-color);
    --appearance-menu-text-color: var(--text-color);
    --appearance-menu-button-bg-color: var(--component-color);
    --appearance-menu-color-picker-border-color: var(--border-color);
    --appearance-menu-fieldset-bg-color: var(--bg-color);
    --appearance-menu-fieldset-border-color: var(--component-color);

    /* Log Console(Navbar Component) */
    --log-console-bg-color: var(--accent-color);
    --log-console-text-color: var(--text-color);
    --log-console-border-color: var(--border-color);
    --log-console-input-bg-color: var(--button-bg-color);
    --log-console-tooltip-bg-color: var(--component-opaque-color);
    --log-console-tooltip-text-color: var(--text-color);
    --log-console-tooltip-underline-color: var(--text-color);
    --log-console-tooltip-hover-bg-color: var(--dark-gray-opaque-color);
    --square-id-bg-color: var(--black-opaque-color);
    --square-id-text-color: var(--white-color);

    /* Board Editor*/
    --board-editor-text-color: var(--text-color);
    --board-editor-border-color: var(--border-color);
    --board-editor-piece-table-bg-color: var(--accent-color);
    --board-editor-piece-creator-selected-option-bg-color: var(--component-active-color);
    --board-editor-piece-table-title-bg-color: var(--component-color);
    --board-editor-piece-table-title-border-color: var(--border-color);
    --board-editor-piece-table-option-bg-color: var(--component-color);
    --board-editor-piece-table-option-border-color: var(--border-color);
    --board-editor-piece-table-option-hover-bg-color: var(--component-active-color);

    /* Notation Menu */
    --notation-menu-bg-color: var(--accent-color);
    --notation-menu-border-color: var(--border-color);
    --notation-menu-text-color: var(--text-color);
    --notation-menu-title-bg-color: var(--component-color);
    --notation-menu-title-border-color: var(--border-color);
    --notation-menu-odd-row-bg-color: var(--component-color);
    --notation-menu-odd-row-border-color: var(--component-color);
    --notation-menu-player-name-bg-color: var(--accent-color);
    --notation-menu-player-name-inner-bg-color: var(--component-color);
    --notation-menu-player-name-border-color: var(--border-color);
    --notation-menu-decisecond-bg-color: var(--danger-color);
    --notation-menu-hover-bg-color: var(--component-active-color);
    --notation-menu-current-move-bg-color: var(--component-active-color);

    /* Utility Menu */
    --utility-menu-bg-color: var(--accent-color);
    --utility-menu-border-color: var(--border-color);
    --utility-menu-confirmation-bg-color: var(--warning-color);
    --utility-menu-offer-message-text-color: var(--text-color);

    /* Navigator Modal */
    --navigator-modal-bg-color: var(--accent-opaque-color);
    --navigator-modal-shadow-color: var(--black-color);
    --navigator-modal-text-color: var(--text-color);
    --navigator-modal-border-color: var(--border-color);
    --navigator-modal-button-bg-color: var(--accent-color);
    --navigator-modal-text-button-color: var(--text-color);
    --navigator-modal-glass-bg-color: var(--glass-bg-color);
    --navigator-modal-glass-text-color: var(--glass-text-color);
    --navigator-modal-glass-border-color: var(--glass-border-color);
    --navigator-modal-glass-box-shadow-color: var(--glass-box-shadow-color);
    --navigator-modal-glass-button-bg-color: var(--glass-component-bg-color);
    --navigator-modal-glass-button-border-color: var(--glass-component-bg-color);
    --navigator-modal-glass-button-text-color: var(--glass-text-color);
    --navigator-modal-glass-input-bg-color: var(--glass-component-bg-color);
    --navigator-modal-glass-input-border-color: var(--glass-component-bg-color);
    --navigator-modal-glass-input-text-color: var(--text-color);
    --navigator-modal-glass-active-color: var(--glass-component-active-bg-color);
    --navigator-modal-glass-error-bg-color: var(--glass-error-bg-color);
    --navigator-modal-glass-error-border-color: var(--glass-error-border-color);
    --navigator-modal-backdrop-bg-color: var(--backdrop-bg-color);
}

/* ------------------- Layout ------------------- */
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

/* Button, Input, Select */
input, select{
    font-size:var(--component-font-size);
    width:100%;
    padding:10px;
    background-color: var(--input-bg-color);
    color: var(--text-color);
    border:1px solid var(--input-border-color);
    cursor: pointer;

    &:focus{
        outline: none;
    }
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

input:read-only{
    color: var(--input-read-only-bg-color);
}

button{
    padding: 10px;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border:1px solid var(--border-color);
    cursor: pointer;
    font-size:var(--component-font-size);
    font-weight: 500;

    &:hover{
        background-color: var(--border-color);
    }

    &:active{
        opacity:0.7;
    }

    &:disabled{
        cursor: not-allowed;
        opacity: 0.5;
    }

    &.button--text{
        background-color: transparent!important;
        color: var(--text-color);
        border: none!important;
        padding: 0;
        font-size: var(--component-font-size);
        font-weight: 500;

        &:hover{
            background-color: transparent;
            filter: brightness(0.9);
        }

        &:active{
            opacity:0.7;
        }
    }
}

.input-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group input + button{
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-left:none;
}

.input-group input:not(input[type="range"]){
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.btn-group-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(75px, 1fr));
    gap: 5px;
}

.btn-group-horizontal{
    display: flex;
    justify-content: stretch;
    align-items: center;

    & button{
        width: 100%;
    }

    &.btn-group-horizontal--triple{
        & button + button{
            border-left: none;
            border-radius: 0;
        }
    
        & button:first-child{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    
        & button:last-child{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}

.btn-group-vertical{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    & button{
        width: 100%;
    }
}

/* Scroll */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
}

/* Color Picker */
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch{
    border-color: none;
}

input[type="color"]::-moz-color-swatch {
    border-color: transparent;
}

/* Range */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 0;
    margin:0;
    background: var(--linear-gradient-color);
    background: var(--linear-gradient);
    border: 1px solid var(--border-color);
    width: calc(100% - 2px);
    height: 15px;
}

input[type="range"]::-webkit-slider-runnable-track{
    background: var(--linear-gradient-color);
    background: var(--linear-gradient);
    border-radius: 0rem;
}

input[type="range"]::-moz-range-track{
    background-color: transparent;
    border-radius: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    border-radius:0;
    width: 9px;
    padding: 0;
    margin: 0;
    border: 1px solid var(--border-color);
    background-color: var(--accent-color);
    height:15px;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius:0;
    width:7px;
    padding: 0;
    margin: 0;
    height: 100%;
    border: 1px solid var(--border-color);
}

body.dark-mode input[type="range"]::-webkit-slider-thumb{
    background-color: var(--darker-gray-color);
    border: 1px solid var(--border-color);
}

body.dark-mode input[type="range"]::-moz-range-thumb {
    background-color: var(--darker-gray-color);
    border: 1px solid var(--border-color);
}


/* Utility */
.border-inset{
    border:2px solid var(--input-border-color);
}

/* ------------------- Main ------------------- */
main{
    margin-top:10px;
    display:flex;
    width:100%;
    justify-content: center;
    margin-right: 5%;

    & .center{
        position: relative;
    }
}

[data-tooltip-text]{
    position: relative;
}

.tooltip{
    position: absolute;
    background-color: var(--tooltip-bg-color);
    color: var(--tooltip-text-color);
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    margin-top: 0px;
    opacity: 0;
    transition: opacity 0.1s;
    white-space: nowrap;
    height: 0;
    z-index: var(--tooltip-z-index);

    &.active{
        opacity: 1;
        padding: 0.5rem;
        margin-top: 15px;
        height: auto;
    }
}

.tooltip::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--tooltip-bg-color);
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
}

/* ------------------- Components ------------------- */
#board-editor{
    margin-top:0.5rem;
}

#notation-menu{
    margin-left: 0.5rem;
}

#piece-creator{
    margin-left: 0.5rem;
}

#navbar{
    margin-right:0.5rem;
}

/** 
 * ------------------ Responsive ------------------- 
 *             700px - 900px - 1250px
 */
@media screen and (min-width: 900px) and (max-width: 1250px) {
    main{
        padding: 1rem;
        margin-top:0;
        flex-wrap: wrap;
        justify-content: start;
        margin-right: 0;

        & .left { 
            order:3;
            margin-top: 0.5rem;
            flex-basis: 100%;
        }

        & .center { 
            order:1; 
            display:flex; 
            flex-direction: column; 
            position: initial;

            & #board-editor { 
                margin-top: 0rem;
                margin-bottom: 0.5rem;
            }

            & #navbar{
                margin-right: 0;
                margin-top: 0.5rem;
            }
        }

        & .right { 
            order:2;

            & #notation-menu, & #piece-creator:has(#piece-table){
                margin-top: 55px;
            }
        }
    }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    main{
        padding: 1.75rem;
        margin-right:0;
    }
}

@media screen and (max-width: 900px) {
    main{
        margin-top: 0.5rem;
        flex-direction: column;
        width: 100%;
    }

    #board-editor{
        margin-bottom: 0.5rem;
    }

    #notation-menu, #piece-creator{
        margin-left: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        height: auto!important;
    }

    /* Reorder for mobile */
    main .center { order:1; display:flex; flex-direction: column; }
    main .right { order:2 }
    main .left { order:3 }
}

