/**
 * CSS codes of Board Editor component
 * @see For more information about this component check file: src\Platform\Components\BoardEditor.ts
 */

#board-editor .board-creator {
    display: none;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 5px var(--shadow-color);

    &.visible {
        display: flex;
    }
}

/** 
 * ------------------ Responsive ------------------- 
 *             700px - 900px - 1250px
 */
@media screen and (max-width: 900px) {
    #board-editor {
        width: 100%;
    }
}
